#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.navGrp{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  margin: auto;
  width: 130px;
  transition: all 0.5s;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffec9e);
}

.homeHero{
  margin-top: 30px;
}

.homeHero h1{
  font-size: 72px;
  text-align: center;
}

.homeHeroImg{
  width: 360px;
}

.footerDiv{
  margin-top: 24px;
}

.footerDiv p{
  font-weight: 400;
  text-align: center;
}

.socialLinks{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.socialLinks a img{
  width: 36px;
}